# http://logging.apache.org/log4j/2.x
# Available log priority levels are: TRACE, DEBUG, INFO, WARN, ERROR, FATAL
log4j.rootCategory=ERROR, A1
log4j.logger.com.sas=WARN, SASConsoleAppender
log4j.additivity.com.sas=false
log4j.logger.com.sas.services.connection=INFO, SASConsoleAppender
log4j.additivity.com.sas.services.connection=false
#
# A1 is a ConsoleAppender
# note: when the SAS foundation Logging Service reconfigures the root logger
#
this appender will be closed.
#
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-5p [%t] - %m%n
#
# SASConsoleAppender is a ConsoleAppender
#
log4j.appender.SASConsoleAppender=org.apache.log4j.ConsoleAppender
log4j.appender.SASConsoleAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.SASConsoleAppender.layout.ConversionPattern=%-5p [%t] - %m%n
